// sections
.start {
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  position: relative;
  background: url(../img/main-img.jpg);
  background-position: top -50px center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: rem(70px);

  .start__caption {
    position: relative;
    padding: rem(151px) rem(5px) 0;
    font-family: 'Libre Caslon Text', serif;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: rem(130px);
    &::after {
      content: url(../img/mobile-stamp.png);
      position: absolute;
      right: 12%;
      bottom: -42%;
      display: block;
      background: no-repeat 50%;
      max-width: 2.5em;
      max-height: 2.9em;
    }
  }
  .start__description {
    font-family: 'Heebo', sans-serif;
    font-size: rem(18px);
    line-height: rem(26px);
    text-align: center;
  }

  .start__button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-white;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-size: rem(16px);
    line-height: rem(23px);
    background-color: $main-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(30px) 0;

    &::after {
      content: url(../img/cta-arrow-white.png);
      display: inline-block;
      margin-left: rem(45px);
      max-width: 100%;
      height: auto;
    }
  }

  .start__img-background {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.steps {
  margin-bottom: rem(110px);
  .steps__caption {
    margin: rem(0px) 0 rem(30px);
    font-family: 'Libre Caslon Text', serif;
    font-size: rem(27px);
    line-height: rem(33px);
    letter-spacing: -0.2px;
  }
  .steps__description {
    font-family: 'Heebo', sans-serif;
    font-size: rem(16px);
    line-height: rem(22px);
    margin-bottom: rem(40px);
    a {
      color: $main-blue;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:focus {
        color: darken($main-blue, 20%);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .steps__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    counter-reset: steps_count;
    .steps__item {
      position: relative;
      counter-increment: steps_count;
      color: black;
      padding: rem(50px) rem(50px) 0 rem(66px);
      max-width: 309px;
      min-height: 201px;
      border: 1px solid $light-grey-border;
      box-sizing: border-box;
      border-radius: 160px;
      text-align: center;
      margin-bottom: rem(20px);

      &-header {
        font-family: 'Heebo', sans-serif;
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(26px);
        letter-spacing: 0.02em;
        color: $main-blue;
        text-align: left;
        margin-bottom: rem(12px);
        &:before {
          content: '\2022';
          color: $main-blue;
          font-weight: bold;
          display: inline-block;
          width: 0.7em;
        }
      }
      &-description {
        text-align: left;
        font-family: 'Heebo', sans-serif;
        font-size: rem(14px);
        line-height: rem(20px);
        letter-spacing: 0.01em;
      }
      &-count {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(-50%, -50%);
        color: black;
        background-color: $steps-count-background;
        width: rem(80px);
        height: rem(80px);
        border-radius: 50%;
        &:before {
          content: counter(steps_count);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: 'Libre Caslon Text', serif;
          font-weight: 600;
          font-size: rem(27px);
          line-height: rem(33px);
        }
      }
      &--even {
        align-self: flex-start;
        padding: rem(50px) rem(66px) 0 rem(50px);
        .steps__item-header {
          text-align: left;
        }
        .steps__item-count {
          left: unset;
          right: -22%;
        }
      }
    }
  }
}

.agents {
  &__caption {
    margin: rem(0px) 0 rem(30px);
    font-family: 'Libre Caslon Text', serif;
    font-size: rem(27px);
    line-height: rem(33px);
    text-align: center;
  }
  &__description {
    font-family: 'Heebo', sans-serif;
    font-size: rem(16px);
    line-height: rem(22px);
    margin-bottom: rem(40px);
  }
  &__items {
    padding-bottom: rem(100px);
  }
  &__item {
    position: relative;
    max-width: 360px;
    background-color: $default-color;
    padding: rem(16px) rem(16px) 0;
    .agents__item-head {
      display: flex;
      flex-direction: row;
      margin-bottom: rem(44px);
      .agents__item-photo {
        max-width: rem(96px);
        max-height: rem(120px);
        margin-right: rem(20px);
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .agents__item-info {
        display: flex;
        flex-direction: column;
        .agents__item-name {
          font-family: 'Libre Caslon Text', serif;
          font-weight: 500;
          font-size: rem(18px);
          line-height: rem(22px);
          margin-bottom: rem(19px);
        }
        .agents__item-stars {
          padding: 0;
          margin-bottom: rem(27px);
          display: inline-block;
          &[data-stars='0'] .agents__item-star:nth-child(n + 1),
          &[data-stars='1'] .agents__item-star:nth-child(n + 2),
          &[data-stars='2'] .agents__item-star:nth-child(n + 3),
          &[data-stars='3'] .agents__item-star:nth-child(n + 4),
          &[data-stars='4'] .agents__item-star:nth-child(n + 5) {
            background-image: url(../img/StarUnactive.png);
          }
          .agents__item-star {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url(../img/StarActive.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .agents__item-location {
          font-family: 'Heebo', sans-serif;
          font-size: rem(14px);
          line-height: rem(21px);
          color: $main-blue;
          letter-spacing: 0.01em;
          &:before {
            display: inline-block;
            content: ' ';
            background-image: url('../img/location.png');
            background-size: cover;
            height: rem(21px);
            width: rem(20px);
            margin-right: rem(12px);
          }
        }
      }
    }
    .agents__item-body {
      margin-bottom: rem(30px);
      .agents__item-specialization {
        max-width: 95%;
        font-family: 'Heebo', sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          border: 1px solid $light-grey-border;
          transform: rotate(180deg);
          margin: rem(22px) 0 rem(20px);
        }
      }
      .agents__item-workplace {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: 'Heebo', sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: $light-grey-text;
        &:before {
          content: url(../img/bank.png);
          display: block;
          background-size: cover;
          height: rem(21px);
          width: rem(20px);
          margin-right: rem(12px);
        }
      }
    }
    .agents__item-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: rem(30px);
      .agents__cta-btn {
        max-width: rem(220px);
        border: 1px solid $main-blue;
        padding: rem(13px) rem(48px);
        font-family: 'Heebo', sans-serif;
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(21px);
        letter-spacing: 0.05em;
        color: $main-blue;
        text-transform: uppercase;
      }
    }

    &.approved .agents__item-name:after {
      display: inline-block;
      content: ' ';
      background-image: url('../img/approved_lable.png');
      background-size: cover;
      height: rem(18px);
      width: rem(18px);
      margin-left: rem(14px);
    }
    &.topRated {
      &:before {
        content: url(../img/topRated.png);
        position: absolute;
        left: -10%;
        top: -7%;
        display: block;
        background: no-repeat 50%;
        max-width: rem(84px);
        max-height: rem(80px);
      }
    }
  }
  &__navigations-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .swiper-button-next,
    .swiper-button-prev {
      position: inherit;
      display: block;
      width:rem(60px);
      height: auto;
      margin:0 0 rem(40px);
      &:after {
        content: '';
        display: block;
        background-size: cover;
        height: 5px;
        width: 60px;
      }
      
    }
    .swiper-button-prev {
      margin-right: rem(20px);
      &:after {
        background-image: url('../img/slider-left-arrow.png');
      }
    }
    .swiper-button-next {
     &:after {
      background-image: url('../img/slider-right-arrow.png');
     }
    }
  }
  // helpers
  .lineBeforeSection {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: rem(-55px);
      left: 50%;
      min-width: 60px;
      height: 0;
      border: 1px solid $light-grey-border;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}
