.start {
  min-height: 100vh;
  position: relative;
  background: url(../img/main-img.jpg);
  background-position: top -80px center;
  background-repeat: no-repeat;
  background-size: cover;

  .start__caption {
    position: relative;
    padding: rem(151px) rem(10px) 0;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: rem(130px);
    &::after {
      content: url(../img/mobile-stamp.png);
      position: absolute;
      right: 15%;
      bottom: -40%;
      display: block;
      background: no-repeat 50%;
      max-width: 2.5em;
      max-height: 2.9em;
    }
  }
  .start__description {
    font-size: rem(18px);
    line-height: rem(26px);
    text-align: center;
  }

  .start__button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-white;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(23px);
    background-color: $main-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(30px) 0;
    &::after {
      content: url(../img/cta-arrow-white.png);
      display: inline-block;
      margin-left: rem(45px);
      max-width: 100%;
      height: auto;
    }
  }

  .start__img-background {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.steps {
  .steps__caption {
    margin: rem(140px) 0 rem(30px);
    font-size: rem(27px);
    line-height: rem(33px);
  }
  .steps__description {
    font-size: rem(16px);
    line-height: rem(22px);
    margin-bottom: rem(40px);
    a {
      color: $main-blue;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:focus {
        color: darken($main-blue, 20%);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .steps__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    counter-reset: steps_count;
    .steps__item {
      position: relative;

      counter-increment: steps_count;

      color: black;
      padding: rem(50px) rem(50px) 0 rem(66px);
      max-width: 309px;
      min-height: 201px;
      border: 1px solid $steps-border;
      box-sizing: border-box;
      border-radius: 160px;
      text-align: center;
      margin-bottom: rem(20px);
      &-content {
        //   max-width: 90%;
      }

      &-header {
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(26px);
        letter-spacing: 0.03em;
        color: $main-blue;
        text-align: left;
        &:before {
          content: '\2022';
          color: $main-blue;
          font-weight: bold;
          display: inline-block;
          width: 0.7em;
        }
      }
      &-description {
        text-align: left;
        font-size: rem(14px);
        line-height: rem(20px);
        letter-spacing: 0.01em;
      }
      &-count {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(-50%, -50%);

        color: black;

        background-color: $steps-count-background;
        width: rem(80px);
        height: rem(80px);
        border-radius: 50%;
        &:before {
          content: counter(steps_count);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 600;
          font-size: rem(27px);
          line-height: rem(33px);
        }
      }
      &--even {
        align-self: flex-start;
        padding: rem(50px) rem(66px) 0 rem(50px);
        .steps__item-header {
          text-align: left;
        }
        .steps__item-count {
          left: unset;
          right: -22%;
        }
      }
    }
  }
}
