@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
   scroll-behavior: smooth ;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  height: -webkit-fill-available;

}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:-webkit-fill-available;
  background-color: $main-white;
  
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 90%;
  &--thin {
    width: 100%
  }
  @media screen and (min-width: $desktopWidth) {
   max-width: 1666px;
   &--thin {
     max-width: 90%
   }
  }
  @media screen and (min-width: $extraLargeDesktopWidth) {
  
   &--thin {
     max-width: 75%
   }
  }

  
}

@import "header.scss";

@import "content.scss"



